{% extends 'main.html' %}

{% block content %}

    <section class="hero is-info is-fullheight">

        <div class="hero-body">
            <div class="container">

                <div class="columns is-centered">
                    <div class="column is-two-fifths">
                        <form method="POST" class="box">
                            {% csrf_token %}

                            <div class="has-text-centered">
                                <h3>Edit portfolio info</h3>
                            </div>

                            {% for field in form %}

                            <div class="field">
                                <label class="label">{{ field.label }}</label>
                                <div class="control">
                                    {{ field }}
                                </div>
                            </div>

                            {% endfor %}

                            <p class="mt-2">
                            <div class="has-text-centered">
                                <div class="control">
                                    <button class="button is-success" type="submit">Submit</button>
                                </div>
                            </div>
                            </p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}