<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DeviantCoder - Portfolio</title>
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}" />
    {% comment %} <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script> {% endcomment %}
    <script src= 
    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'> 
    </script> 
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>

    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-medium">
        <!-- Begin Mobile Nav -->
        
        {% include 'navbar.html' %}

        {% if messages %}
        {% for message in messages %}

            {% if forloop.counter == 1 %}
            <div class='container has-text-centered' style="margin-top: 70px;">
            {% else %}
            <div class='container has-text-centered' style="margin-top: 10px;">
            {% endif %}
                <div class='columns is-mobile is-centered'>
                    <div class='column is-4'> 
                        <div class="notification is-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}
        {% endif %}

        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        

        {% block content %}
          
        {% endblock content %}


    <!-- Begin Footer -->
    <div class="footer">
      <p>
        <strong class="white">Frontend</strong> by<a href="http://jgthms.com">Jeremy Thomas</a>|
        <strong class="white">Backend</strong> by<a href="">Andrew Safonov</a>
      </p>
      <p>
        <a href="{% url 'login_admin' %}">admin</a>
      </p>
    </div>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;
        
            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
  </script>
  </body>
</html>
